/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.blog-img
  width: 100%;
  height: auto;

#header
  padding: 15px 32px 5px

.header-wrapper .title
  margin-top: -4px
  font-size: 16px

.header-wrapper .header-right-wrap .nav .nav-item a
  font-size: 16px

.content-wrapper
  padding: 60px 15px 80px 15px;
  min-height: calc(100vh - 80px - 60px - 60px);
  max-width: 50%;
  margin: 0 auto;

.searchbox input
  margin-top: -48px!important


footer.footer
  background lighten(#000, 20%) !important
